.post-comments {
  padding: 20px;
  border-radius: 4px;
  border: 1px solid #e8e8e8;
  background-color: #fafafa;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.05);
}

.post-comments li:not(:last-child) {
  margin-bottom: 5px;
}

.post-comments li b {
  font-weight: 600;
}

.post-comments p {
  color: grey;
}
