.flash-palette {
  padding: 25px;
  border: 1px solid #e8e8e8;
  border-radius: 6px;
  margin-bottom: 20px;
  color: white;
  box-sizing: border-box;
  box-shadow: 0 0 60px 0 rgba(0, 0, 0, 0.05);
}

.flash-error {
  background-color: rgb(255, 0, 34);
}

.flash-success {
  background-color: rgb(8, 201, 1);
}
