<div class="post-comments">
  <% if zero_comments?(post) %>
    <p>There are no comments for this post.</p>
  <% else %>
    <ul>
      <% which_comments(post, all).each do |comment| %>
        <li><b><%= comment.author.name %></b>: <%= comment.text %></li>
      <% end %>
    </ul>
  <% end %>
</div>

<%= render 'shared/comment_form', post: %>
