<%= render 'shared/author', author: @author %>

<div class="user-posts">
  <% @posts.each do |post| %>
    <div>
      <%= render 'shared/post', post: %>
      <%= render 'shared/comment', post: %>
    </div>
  <% end %>

  <button type="button" class="pagination">Pagination</button>
</div>
