@import url("https://fonts.googleapis.com/css2?family=Inter&display=swap");
@import url("https://use.fontawesome.com/releases/v6.2.0/css/all.css");

* {
  color: #121215;
  font-family: "Inter", sans-serif;
  font-weight: normal;
  margin: 0;
  padding: 0;
}

body {
  padding: 0 10px;
  background-color: #f5f6fa;
}

main {
  padding: 60px;
  max-width: 900px;
  margin: 50px auto;
  border-radius: 6px;
  box-sizing: border-box;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 40px 0 rgba(0, 0, 0, 0.1);
  background-color: #fafafa;
  min-height: calc(100vh - 100px);
}

a {
  text-decoration: none;
}

ul, li {
  list-style: none;
}

.field {
  width: 100%;
  font-size: 15px;
  padding: 10px 15px;
  outline: none;
  box-sizing: border-box;
  border-radius: 4px;
  background-color: #fafafa;
  border: 1px solid #e8e8e8;
  box-shadow: 0 0 4px 0 rgba(0, 0, 0, 0.12);
}

.field:focus {
  border-color: #00f;
  box-shadow: 0 0 3px 0 rgba(0, 0, 0, 1);
}

.field-label {
  display: block;
  padding-bottom: 8px;
}

.btn {
  cursor: pointer;
  color: white;
  padding: 6px 15px;
  border-radius: 4px;
  text-align: center;
  font-size: large;
  border: none;
  background-color: #0290ff;
  max-width: max-content;
}
